<!--预览视图-->
<div xmlns:th="http://www.thymeleaf.org" th:id="${componentId}">
    <div class="search-bar">
        <div class="logo">
            <a th:href="@{/}">
                <img res:src="${site.logoUri}" src="https://misc.360buyimg.com/lib/img/e/logo-201305.png">
            </a>
        </div>
        <div class="search-tool">
            <div class="search">
                <form method="get" class="form" th:action="@{/goodsSearch}">
                    <input type="hidden" name="searchMallProductSerial" th:value="${searchMallProductSerial}"/>
                    <input type="text" name="searchContent" autocomplete="off" class="text" title="搜索框"/>
                    <button type="submit" class="button">搜索</button>
                </form>
            </div>
            <div class="hotwords">
                <span th:each="link:${linkList}">
                <a href="javascript:void(0)" th:if="${link.linkType.isPage()}" th:text="${link.title}"
                   th:href="@{/${link.pagePath}}">翻10倍</a>

                <a href="javascript:void(0)" th:if="${!link.linkType.isPage()}" th:text="${link.title}"
                   th:href="${link.linkUrl}">翻10倍</a>
                </span>
            </div>
        </div>
    </div>
</div>


<!--/预览视图-->